@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url(fonts/HelveticaNeueLTStd-BdCn.otf) format("otf");
  font-weight: 700;
  font-display: swap;
}
body,
html {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  overflow-x: hidden;
}
.content-wrapper {
  padding: 0 15px;
}
.text__strike {
  text-decoration: line-through;
}
.red {
  color: #c80000;
}
img {
  vertical-align: bottom;
}
.warning {
  background: #ff8400;
}
.warning__wrapper > p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 1.375em;
}
.prostatepro {
  background: #e6e6e6;
  padding: 25px 25px 0;
}
.prostatepro__wrapper {
  background: #fff;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5), -5px 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 6;
  max-width: 920px;
  margin: 0 auto;
}
.video--top {
  padding: 25px 0 22px 15px;
  max-width: 815px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  align-items: center;
}
.video--top > img {
  width: 100%;
  max-width: 223px;
}
.video--top > p {
  display: flex;
  flex-direction: column;
  font-size: 2.12em;
  font-weight: 900;
  margin: 0;
}
.video--top > p > span {
  font-size: 1.69rem;
  background: #fff38b;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  margin-top: 5px;
}
.video--center {
  max-width: 873px;
  margin: 0 auto;
  box-sizing: border-box;
}
.video--center > video {
  width: 100%;

  border: 6px #000 solid;
  vertical-align: bottom;
  box-sizing: border-box;
}
.video--bottom {
  margin: 30px 0 0;
}
.video--bottom > span {
  font-weight: 800;
}
.video--bottom {
  font-size: 1.48em;
  font-weight: 600;
}
.order {
  position: relative;
  text-align: center;
  border: #003663 5px solid;
  max-width: 631px;
  margin: 100px auto 95px;
  z-index: 3;
  padding: 50px 15px 75px;
}
.order-container {
  position: relative;
}
.order-container > p {
  margin: 0 0 10px;
  font-size: 2.12em;
}
.order-container > span {
  font-size: 1.69em;
}
.order-container > h2 {
  margin: 0;
  font-size: 2.54em;
  font-weight: 800;
  color: #221f6b;
  line-height: 33px;
}
.order-container > img {
  max-width: 519px;
  width: 100%;
  margin: 25px 0 15px;
}
.order-container__top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  padding: 0 30px;
  background: #fff;
}
.order-container__top > p {
  font-size: 1.69em;
  margin: 0;
}
.order-container__top > h1 {
  margin: 5px 0;
  color: #fff;
  background: #59d001;
  line-height: 1.1;
  padding: 0 10px;
  font-size: 4.66em;
  font-weight: 900;
}
.order-container__mid {
  border: 1px #000 solid;
  max-width: 300px;
  margin: 0 auto 13px;
  font-weight: 700;
  font-size: 1.27em;
  padding: 5px 10px;
}
.order__cta {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  max-width: 452px;
  width: 100%;
  cursor: pointer;
  background: #fff;
}
.order__cta > img {
  width: 100%;
}
.link {
  text-align: center;
  margin-bottom: 20px;
}
.link > a {
  font-size: 1.48em;
  color: #00b5f8;
}
.responds__item {
  padding: 25px 0;
}
.responds__item:nth-of-type(2n) {
  background: #f5f5f5;
}
.responds__item--container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.responds__item--container > img {
  width: 100%;
  max-width: 102px;
  margin-right: 5px;
}
.responds__item--text > h3 {
  color: #223260;
  display: inline-block;
  margin: 7px 0 0;
  font-size: 1.125rem;
}
.responds__item--text > p {
  margin: 0;
  font-weight: 500;
  font-style: italic;
  color: #474747;
  margin-bottom: 12px;
}
.responds__item--text > span {
  font-size: 0.875em;
  color: #7d7d7d;
  font-weight: 500;
}
.responds__item--stars {
  display: inline-block;
  margin-left: 15px;
}
.responds__item--line {
  border: solid #44bfe0 1px;
  max-width: 84px;
  margin: 10px 0;
}
.guarantee {
  background: #221f6b;
  padding: 110px 15px 45px;
}
.guarantee__container {
  position: relative;
  max-width: 665px;
  margin: 0 auto;
  background: #fff;
  padding: 7px;
}
.guarantee__drawoutline {
  border: 2px solid #221f6b;
  padding: 84px 46px 20px;
  text-align: center;
}
.guarantee__container > img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.guarantee__drawoutline > p {
  margin: 0;
  font-size: 1.09em;
  line-height: 19.69px;
}
.guarantee__drawoutline > h2 {
  font-size: 3.39em;
  font-weight: 900;
  margin: 20px 0 25px;
  color: #221f6b;
}
.guarantee__drawoutline > h3 {
  margin: 15px 0 0;
  font-size: 1.53em;
}
.guarantee__line {
  border: 2px solid #969696;
  max-width: 265px;
  margin: 0 auto;
}
.guarantee__text > p:first-of-type {
  margin: 20px 0 25px;
}
.guarantee__text > p {
  font-size: 1.11em;
  font-weight: 600;
  line-height: 19.69px;
  margin: 0;
  text-align: justify;
}
.guarantee__text > p > a {
  text-decoration: none;
  color: #000;
}
.link-bottom {
  margin-bottom: 0;
}
.secure__wrapper {
  padding: 45px 15px 30px;
  text-align: center;
}
.secure__bar1 > img {
  max-width: 524px;
  width: 100%;
  margin-bottom: 20px;
}
.secure__bar2 > img {
  max-width: 220px;
  width: 100%;
}
.footer {
  margin-top: -135px;
  position: relative;
  z-index: 4;
  background: #221f6b;
  padding: 0 15px 0;
}
.footer__wrapper {
  max-width: 820px;
  text-align: center;
  margin: 0 auto;
  padding: 170px 0 20px;
}
.footer__text {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 0.85em;
  line-height: 15.24px;
}
.footer__text > p {
  margin: 0;
}
.footer__text > p:first-of-type {
  margin-bottom: 20px;
}
.footer__nav {
  margin: 30px 0;
  font-weight: 700;
  font-size: 1.16em;
  line-height: 1.5;
}
.footer__nav > a {
  color: #fff;
  margin: 0 10px;
}
.copyright {
  color: #fff;
  font-size: 1.06em;
  font-weight: 500;
  line-height: 15.24px;
}
@media screen and (max-width: 850px) {
  .nobr-850px {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .video--top {
    flex-direction: column;
    padding: 25px 0 22px;
  }
  .video--bottom {
    margin: 15px 0 0;
  }
}
@media screen and (max-width: 700px) {
  .responds__item--container > img {
    padding-left: 15px;
  }
  .responds__item--text > p {
    padding-right: 15px;
  }
}
@media screen and (max-width: 685px) {
  .video--bottom {
    font-size: 1.38em;
  }
  .guarantee__drawoutline {
    padding: 84px 26px 20px;
  }
}
@media screen and (max-width: 600px) {
  body,
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 570px) {
  .order {
    margin: 100px auto 75px;
  }
  .order__cta {
    width: 85%;
  }
}
@media screen and (max-width: 550px) {
  .warning__wrapper > p {
    font-size: 2.6vw;
  }
  @media screen and (max-width: 540px) {
    .order {
      font-size: 9px;
      padding: 100px auto 35px;
    }
  }
  @media screen and (max-width: 490px) {
    .prostatepro {
      padding: 0;
    }
    .video--bottom {
      font-size: 3.1vw;
    }
    .order {
      padding: 40px 15px 50px;
      margin: 100px auto 70px;
    }
    .responds__item--container {
      text-align: center;
      align-items: center;
      flex-direction: column;
    }
    .responds__item--text > h3 {
      font-size: 1.4rem;
    }
    .responds__item--text > p {
      padding: 0 10px;
      font-size: 1.2em;
    }
    .responds__item--text > span {
      font-size: 1.11em;
    }
    .responds__item--line {
      margin: 10px auto;
    }
    .responds__item--stars {
      display: block;
      margin: 5px;
    }
  }
  @media screen and (max-width: 420px) {
    .order-container__top {
      padding: 0 15px;
    }
  }
  @media screen and (max-width: 400px) {
    body,
    html {
      font-size: 10px;
    }
    .order {
      margin: 90px auto 50px;
    }
    .order__cta {
      width: 95%;
    }
  }
  @media screen and (max-width: 380px) {
    .order-container__top > h1 {
      font-size: 4.26em;
    }
    .guarantee__drawoutline > h2 {
      font-size: 3.1em;
    }
  }
  @media screen and (max-width: 370px) {
    .order-container > h2 {
      font-size: 2.34em;
    }
  }
  @media screen and (max-width: 360px) {
    .warning__wrapper > p {
      font-size: 2.7vw;
    }
    .order-container__top > h1 {
      font-size: 3.46em;
    }
  }
  @media screen and (max-width: 350px) {
    .order {
      padding: 70px auto 35px;
    }
    .order-container > h2 {
      font-size: 2.24em;
    }
    .order-container__mid {
      font-size: 1.13em;
    }
    .guarantee__drawoutline {
      padding: 84px 18px 15px;
    }
  }
  @media screen and (max-width: 325px) {
    .order-container__top {
      transform: translate(-50%, -130%);
    }
    .order-container__top > h1 {
      font-size: 3.26em;
    }
  }
}
